<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    {% block head %}
    <title>
      {% block title %}{% endblock %}
    </title>
    {% endblock %}
  </head>
    <body>
        <center>
          <h1><a href="/" id="home-button">Mooolog</a></h1>
        </center>
        {% with msgs = get_flashed_messages() %}
            {% if msgs %}
                {% for msg in msgs %}
                    <center>
                      <i>{{msg}}</i>
                    </center>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>

        {% block body %}
        {% endblock %}

        <br><br>
        <center id="footer">
          Site by Team Mooo - Brian Lee, Emily Lee, Thomas Lee, Joshua Weiner ----- Stylized by Johnson Li, Zane Wang
        </center>
  </body>
</html>
