<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>
      {% block title %}{% endblock %}
    </title>
    {% endblock %}
    </head>
    <body>
        <center><h1>Mooolog</h1></center>
        {% with msgs = get_flashed_messages() %}
            {% if msgs %}
                {% for msg in msgs %}
                    <center><i>{{msg}}</i></center>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>

        {% block body %}
        {% endblock %}

        <br><br>
        <hr>
        Site by Team Mooo - Brian Lee, Emily Lee, Thomas Lee, Joshua Weiner
    </body>
</html>
