{% extends "base.html" %}

{% block title %}{{name}} | Moolog{% endblock %}

{% block body %}
<center>
<h1>{{name}}</h1>
<p>
  Blog started by <strong><a href="/user/{{blog[4]}}">{{blog[4]}}</a></strong> on {{blog[5]}}
</p>
<p>
</p>
  {% if user_id == blog[1] %}
  <hr>
  <h2>Add a blog entry {{blog[4]}}!</h2>
  <form action="/blog/{{name}}" method="POST">
    <p>
      <input type="text" name="title" placeholder="Entry Title"></input>
    </p>
    <p>
      <textarea type="text" name="content" placeholder="Entry content" style="width: 400px;
  height: 200px;"></textarea>
    </p>
    <p>
      <input type="submit" name="Submit" value="Submit">
    </p>
  </form>
  {% endif %}
  <table border="1px" style="width:700px;">
  {% for entry in entries %}
  <tr>
  <td>
  <p>
    <h2>{{entry[2]}}</h2>
    <p>
      <h4>Posted at {{entry[4]}}</h4>
      {{entry[3]}}
    </p>
  </p>
  </td>
  {% if user_id == blog[1] %}
    <td><a href="/edit_entry/{{entry[0]}}">Edit</a></td>
    <td><a href="/delete_entry/{{entry[0]}}">Delete</a></td>
  {% endif %}
  </tr>
  {% endfor %}
  </table>
</center>

<br><br>
<a href="/">My Blogs</a>
<br>
<a href="/logout">Logout</a>
{% endblock %}
