{% extends "base.html" %}

{% block title %}{{name}} | Moolog{% endblock %}

{% block body %}
<center>
<h1>{{name}}</h1>
<p>
  Blog started by <strong>{{blog[4]}}</strong> on {{blog[5]}}
</p>
<p>
  <h3>See more of {{blog[4]}}'s blogs <a href="/user/{{blog[4]}}">HERE!</a></h3>
</p>
  {% if user_id == blog[1] %}
  <hr>
  <h2>Add a blog entry {{blog[4]}}!</h2>
  <form action="/blog/{{name}}" method="POST">
    <p>
      <input type="text" name="title" placeholder="Entry Title"></input>
    </p>
    <p>
      <textarea type="text" name="content" placeholder="Entry content"></textarea>
    </p>
    <p>
      <input type="submit" name="Submit" value="Submit">
    </p>
  </form>
  {% endif %}
  {% for entry in entries %}
  <hr>
  <p>
    <h2>{{entry[2]}}</h2>
    <p>
      <h4>Posted at {{entry[4]}}</h4>
      {{entry[3]}}
    </p>
  </p>
  {% endfor %}
</center>

{% endblock %}
