{% extends "base.html" %}
{% block title %}Create{% endblock %}
{% block body %}
<center>
<h2>Create A Blog</h2>
<form action="/create" method="POST">
  <p>
    <input class="text-input" type="text" name="title" placeholder="Title" style="width:150px;"></input>
  </p>
  <p>
    <input class="text-input" type="text" name="category" placeholder="Category" style="width:150px;"></input>
  </p>
  <p>
    <input class="button" type="submit"></input>
  </p>
</form>
{% if success %}
<h3>Add your first entry!</h3>
<a href="/">No thanks!</a>
<form action="/create-entry">
  <p>
    <input type="text" name="entry-title" placeholder="Entry title" style="width:150px;"></input>
  </p>
  <p>
    <input type="text" name="entry-content" placeholder="Entry title" style="width:150px;"></input>
  </p>
  <p>
    <input type="submit"></input>
  </p>
</form>
{% endif %}
</center>
<div class="side">
<a href="/">My Blogs</a>
<br>
<a href="/logout">Logout</a>
</div>
{% endblock %}
