{% extends "base.html" %}

{% block title %}Editing {{entry[2]}}| Moolog{% endblock %}

{% block body %}
<center>
<h1 class="normal-header">Editing {{entry[2]}}</h1>
  <form action="/edit_entry/{{entry[0]}}" method="POST">
    <p>
      <input class="text-input" type="text" name="title" value="{{entry[2]}}"></input>
    </p>
    <p>
      <textarea class="text-input" type="text" name="content" placeholder="Entry content" style="width: 400px;
  height: 200px;">{{entry[3]}}</textarea>
    </p>
    <p>
      <input class="button" type="submit" name="Submit" value="Submit">
    </p>
  </form>

{% endblock %}
