{% extends "base.html" %}

{% block title  %} Results {% endblock %}

{% block body %}
<div id="search-results">
    <h1 class="normal-header">Users</h1>
    <ul>
    <h3 class="normal-subheader">Matching users found from query "{{item}}"</h3>
    {% if userin %}
    <a class="button" href="/user/{{item}}">User {{item}} exists!</a>
    <br>
    {% else %}
    <p class="normal-text"> User {{item}} does not exist. </p>
    <br>
    {% endif %}
    </ul>

    <h1 class="normal-header">Blogs</h1>
    <ul>
    <h3 class="normal-subheader">Matching blogs found from query "{{item}}"</h3>
    {% if blogin %}
    <a class="button" href="/blog/{{item}}">Blog {{item}} exists!</a>
    <br>
    {% else %}
    <p class="normal-text"> Blog {{item}} does not exist. </p>
    </ul>
    <br>
    <a class="button" href="/search"><h3>Search Again!</h3></a>
    <br>
    {% endif %}
</div>

{% if loggedin %}
<div class="side">
    <a href="/create">Create a New Blog</a>

    <a href="/">My Blogs</a>

    <a href="/logout">Logout</a>
</div>
{% endif %}
{% endblock %}
