{% extends "base.html" %}

{% block title  %} Results {% endblock %}

{% block body %}
<h1>Users</h1>
<ul>
{% if userin %}
<a href="/user/{{item}}">User {{item}} exists!</a>
<br>
{% else %}
<p> User {{item}} does not exist. </p>
<a href="/search">Search Again!</a>
<br>
{% endif %}
</ul>

<h1>Blogs</h1>
<ul>
{% if blogin %}
<a href="/blog/{{item}}">Blog {{item}} exists!</a>
<br>
{% else %}
<p> Blog {{item}} does not exist. </p>
<a href="/search">Search Again!</a>
</ul>
<br>
<br>
{% endif %}

{% if loggedin %}
    <a href="/create">Create a New Blog</a>
    <br>
    <a href="/logout">Logout</a>
{% endif %}
{% endblock %}
