{% extends "base.html" %}

{% block title  %} Results {% endblock %}

{% block body %}
<h1>Users</h1>
<ul>
<h3>Matching users found from query "{{item}}"</h3>
{% if userin %}
<a href="/user/{{item}}">User {{item}} exists!</a>
<br>
{% else %}
<p> User {{item}} does not exist. </p>
<br>
{% endif %}
</ul>

<h1>Blogs</h1>
<ul>
<h3>Matching blogs found from query "{{item}}"</h3>
{% if blogin %}
<a href="/blog/{{item}}">Blog {{item}} exists!</a>
<br>
{% else %}
<p> Blog {{item}} does not exist. </p>
</ul>
<br>
<a href="/search"><h3>Search Again!</h3></a>
<br>
{% endif %}

{% if loggedin %}
<br><br><br>
    <a href="/create">Create a New Blog</a>
    <br>
    <a href="/">My Blogs</a>
    <br>
    <a href="/logout">Logout</a>
{% endif %}
{% endblock %}
