{% extends "base.html" %}

{% block title %} {{username}}'s Blogs {% endblock %}

{% block body %}
<center>
  <form action="/searchResults">
    Search:
    <input type="text" name="item" placeholder="search for user or blog" style="min-width:150px;">
    <input type="submit" name="submit" value="Search">
  </form>
<h1>{{username}}'s Blogs:</h1>
<ul>
  <table border="1px" style="width:400px;">
{% for blog in blogs %}
  <tr>
    <td>
    <a href="/blog/{{blog[2]}}"><h3>{{blog[2]}}</h3></a>
    </td>
    <td>
      <h3>Category: {{blog[3]}}</h3>
      {{blog[5]}}
    </td>
  </tr>
{% endfor %}
  </table>
</center>
<br><br>
{% if loggedin %}
    <a href="/create">Create a New Blog</a>
    <br>
    <a href="/">My Blogs</a>
    <br>
    <a href="/logout">Logout</a>
{% endif %}
{% endblock %}
