{% extends "base.html" %}

{% block title %} {{username}}'s Blogs {% endblock %}

{% block body %}
<center>
  <form action="/searchResults">
    <span class="prompt"> Search: </span>
    <input class="text-input" type="text" name="item" placeholder="search for user or blog" style="min-width:150px;">
    <input class="button" type="submit" name="submit" value="Search">
  </form>
<h1 class="normal-header">{{username}}'s Blogs:</h1>
<ul>
  <table id="blog-table" style="width:400px;">
{% for blog in blogs %}
  <tr>
    <td>
    <a id="table-selection" href="/blog/{{blog[2]}}"><h3>{{blog[2]}}</h3></a>
    </td>
    <td>
      <h3>Category: {{blog[3]}}</h3>
      {{blog[5]}}
    </td>
  </tr>
{% endfor %}
  </table>
</center>
<br><br>
{% if loggedin %}
<div class="side">
    <a href="/create">Create a New Blog</a>
    <a href="/">My Blogs</a>
    <a href="/logout">Logout</a>
</div>
{% endif %}
{% endblock %}
